body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #41383810;
            color: white;
            padding: 20px;
            text-align: center;
        }
        section {
            padding: 20px;
        }
        .game-title {
            font-size: 2em;
            margin-bottom: 10px;
        }
        .game-description {
            font-size: 1.2em;
            color: #050505;
            margin-bottom: 20px;
        }
        .game-details {
            list-style-type: none;
            padding: 0;
        }
        .game-details li {
            margin-bottom: 10px;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #d88650;
            color: white;
        }